#draggable { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
	border: solid;
	background: red;
}
#sortable { 
	width: 150px; 
	height: 450px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px; 
	border: solid;
}