<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Blog</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" th:href="@{/css/min-decor.css}"/>
</head>
<body th:style="${'background-color:'+theme.backgroundColor+';color:'+theme.fontColor}">
<div th:replace="header :: header">
</div>
<div class="container">
    <div class="row content">
        <div class="col-md-3  col-xs-9 sidenav" style="margin-top: 2%; width: 25%">
            <h3>Information about page</h3>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <h4>Blog name:</h4>
                    </td>
                    <td>
                        <h4 th:text="${blog.blogName}"></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Author:</h4>
                    </td>
                    <td>
                        <h4 th:text="${blog.username}"></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Discription:</h4>
                    </td>
                    <td>
                        <h4 th:text="${blog.description}"></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Tags:</h4>
                    </td>
                    <td>
                        <h4 th:text="${tags}"></h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col-md-9" style="margin-top: 2%">
            <h3 class="text-center">Blog pages</h3>
            <ul th:if="${theme.comentColor}=='silver'">
                <li th:each="page : ${pages}" class="col-md-3 col-xs-11 well blog-block tagContainer" th:id="${page.id}"
                    style="height:180px;">

                    <div th:if="${canEdit} == true" style="height: auto;">
                        <a class="glyphicon glyphicon-pencil"
                           style="margin-left: 60%;text-decoration:none;font-size:150%" role="button"
                           th:href="@{|~/${blog.username}/${blog.id}/${page.id}/edit|}">
                        </a>
                        <a class="glyphicon glyphicon-remove-circle" style="text-decoration:none;font-size:150%"
                           th:onclick="'deletePage(\'' + ${page.id} + '\')'" role="button">
                        </a>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="glyphicon glyphicon-pencil"
                           style="margin-left: 60%;text-decoration:none;font-size:150%" role="button"
                           th:href="@{|~/${blog.username}/${blog.id}/${page.id}/edit|}">
                        </a>
                        <a class="glyphicon glyphicon-remove-circle" style="text-decoration:none;font-size:150%"
                           th:onclick="'deletePage(\'' + ${page.id} + '\')'" role="button">
                        </a>
                    </div>
                    <h4 class="text-ellipsis">
                        Page name:
                        <a th:href="@{'/'+${blog.username}}+'/'+${blog.id}+'/'+${page.id}"
                           th:text="${page.pageName}"></a>

                    </h4>
                    <p class="text-ellipsis">
                        Что-то?
                    </p>
                </li>
                <li class="col-md-3  col-xs-11 well blog-block" th:if="${canEdit}==true" style="height:180px;">
                    <h4>
                        <a class="glyphicon glyphicon-plus-sign"
                           th:href="@{'/'+${#authentication.name}}+'/'+${blog.id}+'/newpage'"
                           role="button" style="font-size:90px;margin-left:20%;margin-top:10%;text-decoration:none"></a>
                    </h4>
                </li>
            </ul>
            <ul th:if="${theme.comentColor}!='silver'">
                <li th:each="page : ${pages}" class="col-md-3 col-xs-11 well blog-block tagContainer" th:id="${page.id}"
                    th:style="'height:180px;background:'+${theme.comentColor}">
                    <div th:if="${canEdit} == true" style="height: auto;">
                        <a class="glyphicon glyphicon-pencil"
                           style="margin-left: 60%;text-decoration:none;font-size:150%" role="button"
                           th:href="@{|~/${blog.username}/${blog.id}/${page.id}/edit|}">
                        </a>
                        <a class="glyphicon glyphicon-remove-circle" style="text-decoration:none;font-size:150%"
                           th:onclick="'deletePage(\'' + ${page.id} + '\')'" role="button">
                        </a>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="glyphicon glyphicon-pencil"
                           style="margin-left: 60%;text-decoration:none;font-size:150%" role="button"
                           th:href="@{|~/${blog.username}/${blog.id}/${page.id}/edit|}">
                        </a>
                        <a class="glyphicon glyphicon-remove-circle" style="text-decoration:none;font-size:150%"
                           th:onclick="'deletePage(\'' + ${page.id} + '\')'" role="button">
                        </a>
                    </div>
                    <h4 class="text-ellipsis">
                        Page name:
                        <a th:href="@{'/'+${blog.username}}+'/'+${blog.id}+'/'+${page.id}"
                           th:text="${page.pageName}"></a>

                    </h4>
                    <p class="text-ellipsis">
                        Что-то?
                    </p>
                </li>
                <li class="col-md-3  col-xs-11 well blog-block" th:if="${canEdit}==true"
                    th:style="'height:180px;background:'+${theme.comentColor}">
                    <h4>
                        <a class="glyphicon glyphicon-plus-sign"
                           th:href="@{'/'+${#authentication.name}}+'/'+${blog.id}+'/newpage'"
                           role="button" style="font-size:90px;margin-left:20%;margin-top:10%;text-decoration:none"></a>
                    </h4>
                </li>
            </ul>
        </div>
    </div>
</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/user.js}"></script>
</body>
</html>
