<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Login</title>
</head>
<body>
<div th:replace="header :: header">
</div>
<div class="container center-block">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="col-md-12  form-signin" th:object="${userForm}" th:action="@{/login}"
                  method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <input type="text" class="form-control text-center input-lg"
                           th:value="${session[username]}" placeholder="Username"
                           th:field="*{username}" autofocus=""/>
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
                <div class="form-group">
                    <input type="password" class="form-control text-center input-lg"
                           placeholder="Password" th:field="*{password}"/>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
                <div th:if="${enabled != null}" th:text="${enabled}"></div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-primary"
                           value="Sign in"/>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-primary" style="width: 100%"
                           href="/registration">Register</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-primary" style="width: 100%" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>