<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/min-decor.css}" />
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <style>
        .affix {
            top: 20px;
        }
        .centered-div { margin: auto; max-width: 300px;}
        .containerContent {
            width: auto;
            word-wrap: break-word;
        }
        .user_name{
            font-size:14px;
            font-weight: bold;
        }
        .comments-list .media{
            border-bottom: 1px dotted #ccc;
        }
        .comments-list{
            max-height: 200px;
            overflow-y:scroll;
        }
    </style>
</head>
<body th:style="${'background-color:'+theme.backgroundColor+';color:'+theme.fontColor}">
<p sec:authentication="name" id="name" style="display: none;"></p>
<div th:replace="header :: header">
</div>
<div class="container">
    <div class="row">
        <nav class="col-sm-2">
            <ul class="nav nav-pills nav-stacked" data-spy="affix"
                data-offset-top="205">
                <li class="active"><a class="text-center text-ellipsis"
                                      style="width: 100px" data-toggle="tooltip" data-placement="right"
                                      th:title="${pageName}"
                                      th:href="@{'/'+${blog.username}}+'/'+${blog.id}+'/'+ ${pageId}"
                                      th:text="${pageName}"></a></li>
                <li th:each="page : ${pages}" th:if="${page.id}!=${pageId}"><a
                        class="text-center text-ellipsis" style="width: 100px"
                        data-toggle="tooltip" data-placement="right"
                        th:title="${page.pageName}"
                        th:href="@{'/'+${blog.username}}+'/'+${blog.id}+'/'+ ${page.id}"
                        th:text="${page.pageName}"></a></li>
            </ul>
        </nav>
        <div class="col-sm-10">
            <div class="navbar-right" style="font-size: 17px;margin-right: 20px;">
                <span class="btn glyphicon glyphicon-thumbs-up" style="font-size: 20px;" th:onclick="'like(\'' + ${pageId} + '\')'">
                </span><text id="rating" th:text="${rating}"></text>
            </div>
            <div id="content">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">
                        <h2><small class="pull-right" id="countComments" th:text="${#lists.size(comments)}+ ' comments'"></small> Comments </h2>
                    </div>
                    <div class="media form-group" sec:authorize="isAuthenticated()">
                        <label for="commentArea">Your comment:</label>
                        <textarea class="form-control" rows="5" id="commentArea"></textarea>
                        <button th:onclick="'sendComment(\'' + ${pageId} + '\')'" type="button" class="btn btn-primary" th:text="#{comment.send}"></button>
                    </div>
                    <div class="comments-list">
                        <div class="media" th:each="comment : ${comments}">
                            <p class="pull-right"><small th:text="${comment.createdAt}"></small></p>
                            <div class="media-body">
                                <h4 class="media-heading user_name" th:text="${comment.username}"></h4>
                                <p th:text="${comment.value}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/user.js}"></script>
<script th:inline="javascript">
    loadContent([[${page.value}]]);
</script>
<div th:replace="tags :: tags">
</div>
</body>
</html>
